html {
  box-sizing: border-box
}

*, 
*::before,
*::after { 
  box-sizing: inherit;
}

:root {
  font-size: 62.5%
}

body {
  background-color: gray;
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: 20% 10% 60% 10%;
  font-family:'Teko', sans-serif;
}

h1 {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  padding: 0;
  place-self: center;
  font-family: 'Limelight', cursive;
  font-size: 95px;
  text-shadow: 1px 1px 50px rgb(255, 228, 107);
  color: rgb(255, 228, 107);
}

#message {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  padding: 0;
  place-self: center;
  text-align: center;
  font-size: 30px;
  color: white;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(6, 16.67%);
  border: 1px rgb(192, 192, 192) solid;
  grid-column: 2;
  grid-row: 3;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 253, 250);
  box-shadow: 0px 0px 8px 2px rgb(241, 228, 112);
  text-align: center;
  text-shadow: 1px 1px 1px rgb(153, 153, 153);
  margin: 24px;
}

.btn-primary {
  font-size: 15px;
  display: none;
}

#marquee {
  grid-column-start: 2;
  grid-row: 3;
  place-self: stretch;
}

.cat {
  font-size: 20px;
  border: 1px rgb(230, 230, 230) solid;
}

.box {
  border: 1px rgb(230, 230, 230) solid;
  font-size: 36px;
}

.hover:hover {
  background-color: rgb(243, 239, 234);
}

#light-bottom-left {
  grid-column: 1;
  grid-row: 5 / 3 ;
  place-self: end;
  width: 100%;
}

#light-bottom-right {
  grid-column: 3;
  grid-row: 5 / 3 ;
  place-self: end;
  width: 100%;
}

#scoreboard {
  background-image: url(/assets/star-score.png);
  grid-column: 1;
  grid-row: 1 / 3;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: stretch;
  place-content: center;
  font-size: 25px;
  padding-top: 10px;
  display: none;
}

.btn-primary {
  grid-column: 2;
  grid-row: 4;
  place-self: center;
}

.card {
  grid-column: 2;
  grid-row: 3;
  justify-self: start;
  align-self: flex-start;
  color: black;
  display: grid;
}

.background {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 20% 10%;
  color: black;
  background-color: white;
  place-items: center;
}

#film {
  grid-column: 1;
  grid-row: 1 / 4;
  place-self: stretch;
}

#question {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

#submit {
  grid-column: 1;
  grid-row: 2;
  height: 8%px;
  width: 8%;
  justify-self: end;
  margin-bottom: 36px;
  margin-right: 168px;
}

#input {
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
  margin-bottom: 30px;
  width: 48%;
  height: 40%;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.progress {
  grid-column: 2;
  grid-row: 3;
  width: 100%;
  align-self: end;
}





